.bi-search {
  color: white;
}
nav {
  background-color: rgb(48, 48, 48);
}
.nav-item {
  color: whitesmoke;
}
.kids p {
  margin-bottom: 0px;
}

main {
  background-color: rgb(48, 48, 48);
}
.main-btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
}
.main-btn:hover {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
}
.dropdown-menu {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
}
.dropdown-toggle::after {
  margin: 0;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -115px;
}
.btn-group .btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 0px;
}
img {
  width: 100%;
}
.container-footer {
  margin-top: 100px;
  max-width: 800px;
  margin-inline: auto;
}
.icons-foot {
  margin-left: 20px;
}
.container-footer a {
  margin-inline: 10px;
}

.row-cols-4 ul {
  list-style: none;
  line-height: 35px;
}
.row-foot {
  margin-block: 30px;
  color: rgb(165, 165, 165);
}
.row-foot:nth-of-type(3) {
  margin-left: 20px;
}
.row-foot:nth-of-type(4) {
  margin-left: 20px;
}
.btns-attaccati:checked {
  background-color: rgb(255, 255, 255);
  border-color: whitesmoke;
}
