.bi-search {
  color: white;
}
nav {
  background-color: transparent;
}
.kids p {
  margin-bottom: 0px;
}

main {
  background-color: rgb(48, 48, 48);
}
.main-btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 0px;
}
.btn-group .btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 0px;
}
img {
  width: 100%;
}
.container-footer {
  margin-top: 100px;
  max-width: 800px;
  margin-inline: auto;
}
.icons-foot {
  margin-left: 20px;
}
.container-footer a {
  margin-inline: 10px;
}
.row-cols-4 {
}
.row-cols-4 ul {
  list-style: none;
  line-height: 35px;
}
.row-foot {
  margin-block: 30px;
  color: rgb(165, 165, 165);
}
.row-foot p {
}
